button:hover:enabled{
	background:#007bff;
	border: 1px solid #007bff;
	cursor: pointer;
	color:white;
}
button{
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tools{
	margin-top:10px;
	justify-content:space-around !important;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	position:fixed;
	width:8%;
	z-index:2;
}
.total{
	margin-top:10px;
	position:fixed;
	right:3%;
	width:6%;
}
#progress{
	width:95%;
	bottom:2%;
	position:fixed;
}

#progress:after{
	content:attr(value)"/"attr(max);
	right:2%;
	position:fixed;
}
select{
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
    display: inline-block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
 	border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
    
    }
    
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
body{
	overflow-x:hidden;
	background-color:#f8f8f8;
}

.head{
	width:80%;
	display:flex;
	flex-wrap:wrap;
	/*justify-content:center;*/
	align-items:flex-start;
	margin:auto;
}
img {
    border-radius: 50%;
    flex-shrink: 0;
    height: 40px;
    margin-right: 16px;
    width: 40px;
}

.comment {
    display: flex;
    margin: 10px;
    padding-bottom:22px !important;
    padding: 16px;
    width: 20%;
    border-radius: 0px;
    height:75px;
    transition:transform .2s ease-in;
    word-break:break-word;
}

/* .content:hover{
	transform:scale(1.05);
	min-height:75px;
	height:1000%;
} */

.name {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 2px; 
    margin-right: 4px;
}
.grid{
  display: grid;
}

.content {
    height:100%;
    font-size: 14px;
    overflow-y:auto;
}

.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.content::-webkit-scrollbar{
  width:5px;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background:#888;
  }

.content::-webkit-scrollbar-thumb:hover{
  background:#555;
}
  


.time {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    opacity:0.6;
}
input{
	width:100%;
	margin-bottom:10px;
	
}
video {
  display: none;
}
#disabledAll{
	width:100%;
	height:100%;
	z-index:1000;
	position:fixed;
}
