.cursive{
	font-family:"cursive";
}
			
.PMingLiU{
	font-family:"PMingLiU";
}

.MingLiU{
	font-family:"MingLiU";
}

.DFKai-SB{
	font-family:"DFKai-SB";
}

.SimHei{
	font-family:"SimHei";
}

.SimSun{
	font-family:"SimSun";
}

.NSimSun{
	font-family:"NSimSun";
}

.KaiTi{
	font-family:"KaiTi";
}

.JhengHei{
	font-family:"Microsoft JhengHei";
}
